# This is meant to be a code-as-documentation kind of file.
# Every configureABLE env var should be denoted here disregarding whether they will indeed be used.
# That is for future reference, such that there won't be any more work needed then.
DB_NAME="database"
DB_USERNAME_AFFINE="affine"

DB_PASSWORD_ROOT="CHANGE ME"
DB_PASSWORD_COMMAFEED="CHANGE ME"
DB_PASSWORD_PELICAN_PANEL="CHANGE ME"
DB_PASSWORD_AFFINE="CHANGE ME"
