# This is meant to be a code-as-documentation kind of file.
# Every configureABLE env var should be denoted here disregarding whether they will indeed be used.
# That is for future reference, such that there won't be any more work needed then.
DB_NAME="database"
DB_PASSWORD_ROOT="CHANGE ME"
